body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

#header {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  position: absolute;
  top: 0px;
  background-color: lightblue;
  width: 100vw;
  height: 80px;
}
#header.menubar{
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
#header.menubar li{
  display: inline-block;
}
