* {
    scroll-behavior: smooth;
}
html {
    background-color: #1a1a1a;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #f4f4f4;
}

html button {
    transition: transform 0.2s ease-out;
}
html button:hover {
    background-color: #6fff6f;
    transform: scale(1.02);
}

html button:active {
    transform: scale(0.95);
}

main {
    padding-top: 6rem;
}
    
header {
    background-color: #1a1a1a;
    color: #00ff00;
    position: fixed;
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    z-index: 3;
}

header h1 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: max(min(2vw, 2rem), 1.4rem);
    text-align: left; /* Align text to the left */
}

#cart-icon {
    position: relative;
    display: inline-block;
    color: #00ff00;
    font-size: 2rem;
    right: 3rem;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    color: #00ff00;
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    white-space: nowrap;
    font-size: max(min(1.5vw, 1.5rem), 1rem)
}

#products {
    padding: 3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#products a {
    text-decoration: none;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    line-height: 1.5rem;
    border-radius: 30px;
    min-width: 15rem;
    max-width: 15rem;
    padding: 1rem;
    height: 25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-out;
}

.product:hover {
    transform: scale(1.01);
    box-shadow: 0 0px 12px #00a1003b;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.product h3 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.product p {
    margin: 0.5rem;
    color: #00ff00;
}

.product button {
    background-color: #00ff00;
    color: #1a1a1a;
    border: none;
    padding: 0.5rem 1rem;
    max-width: min-content;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
}

.cart-controls button {
    background-color: #00ff00;
    color: #1a1a1a;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-family: 'Press Start 2P', cursive;
    transition: transform 0.2s ease-out;
}

#checkout-page {
    padding: 3rem;
    padding-top: 4rem;
    margin-inline: 20%;
}

#checkout-page h2 {
    margin: 4rem 0 2rem 0;
    font-family: 'Press Start 2P', cursive;
}

#checkout-page ul {
    list-style: none;
    padding: 0;
}

#checkout-page ul li {
    background-color: #1a1a1a;
    border: 1px solid #00ff00;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.cart-item-details img {
    width: 50px;
    margin-right: 1rem;
    border-radius: 5px;
    pointer-events: none;
}

.cart-item-amount {
    text-align: right;
    flex-shrink: 0;
    margin-left: 1rem;
}

.cart-controls {
    display: flex;
    align-items: center;
}

#checkout-page button {
    background-color: #00ff00;
    color: #1a1a1a;
    border: none;
    padding: 0.5rem 1rem;
    margin-block-end: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

#checkout-page button:hover {
    background-color: #00cc00;
}

footer {
    background-color: #1a1a1a;
    color: #00ff00;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 2; /* Ensure footer is above ad containers */
    font-family: 'Press Start 2P', cursive;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 5rem;
    left: -200px;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    padding-top: 16px;
}

.sidebar a {
    padding-block: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #00ff00;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#open-btn { 
    position: fixed;
    top: 5rem;
    left: 0px;
    font-size: 3fr;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #00cf00;
    border-radius: 0 0 15px 0;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
@media (max-width: 768px) {
    header nav {
        display: none;
    }
    .products-grid {
    	justify-content: center;    
    }
    .product {
        min-width: 100%;
        max-width: 100%;
    }
}
