body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}
#header > * {
  border: 3px solid green;
}
#header {
  display: flex;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  background-color: lightblue;
  width: 100%;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#header img {
  align-self: first;
}
#header ul {
  display: inline-block;
  list-style-type: none;
  justify-self: space-around;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
#header ul li {
  display: inline-block;
}
